language: generic
sudo: required
dist: trusty
notifications:
  email: alex.palcuie@gmail.com

install: sudo ./provisioning/install-dependencies.sh
script:
  - ansible-playbook -i "localhost," -c local provisioning/playbook.yml --syntax-check
  - ansible-playbook -i "localhost," -c local provisioning/playbook.yml
  - sleep 10 && curl -sSf http://localhost > /dev/null
