---
- hosts: all

  become: yes
  become_method: sudo

  vars:
    - db_name: ckan_default
    - db_test_name: ckan_test
    - db_user: ckan_default
    - db_password: pass
    - ckan_path: '/usr/lib/ckan/default'
    - ckan_config_file: '/etc/ckan/default/development.ini'
    - ckan_config_test_file: "{{ ckan_path }}/src/ckan/test-core.ini"
    - paster: '{{ ckan_path }}/bin/paster'
    - python_virtualenv: '{{ ckan_path }}/bin/python'

  tasks:
    # General configuration
    - name: Update apt cache
      apt: update_cache=yes

    - name: Install necessities and nice-to-haves
      apt: pkg={{ item }} state=installed
      with_items:
        - ansible
        - git-core
        - libpq-dev
        - openjdk-6-jdk
        - postgresql
        - python-dev
        - python-pip
        - python-psycopg2
        - python-virtualenv
        - solr-jetty
        - supervisor
        - vim
        - tmux

    - name: Enable passwordless sudo
      lineinfile: 'dest=/etc/sudoers regexp="sudo ALL=NOPASSWD: ALL" line="%sudo ALL=NOPASSWD: ALL" state=present'

    # CKAN Instalation
    - name: Create /etc/ckan/default folder
      file: path=/etc/ckan/default state=directory

    - name: Create symlink for development.ini
      template: src=files/development.ini dest=/etc/ckan/default/development.ini

    - name: Create symlink for who.ini
      template: src=files/who.ini dest=/etc/ckan/default/who.ini

    - name: Create /usr/lib/ckan folder
      file: path=/usr/lib/ckan state=directory

    - name: Create virtualenv
      command: "virtualenv --no-site-packages /usr/lib/ckan/default"

    - name: Install CKAN PIP package
      command: "{{ ckan_path }}/bin/pip install -e git+https://github.com/govro/ckan.git@ckanext-inventory#egg=ckan"

    - name: Install CKAN dependencies
      pip: requirements={{ ckan_path }}/src/ckan/requirements.txt virtualenv={{ ckan_path }}

    - name: Clone custom theme
      git: repo=https://github.com/govro/ckanext-romania_theme dest={{ ckan_path }}/src/ckanext-romania_theme

    - name: Install custom theme
      command: "{{python_virtualenv}} setup.py develop chdir={{ ckan_path }}/src/ckanext-romania_theme"

    # Postgres
    # TODO @palcu: wait for Ansible to fix this
    - name: Ensure CKAN database is created
      postgresql_db: 'name={{ db_name }}'
      become_user: postgres

    - name: Ensure CKAN test database is created
      postgresql_db: 'name={{ db_test_name }}'
      become_user: postgres

    - name: Ensure CKAN database user can access CKAN database
      postgresql_user: 'db={{ db_name }} name={{ db_user }} password={{ db_password }} priv=ALL'
      become_user: postgres

    - name: Ensure CKAN database user can access CKAN test database
      postgresql_user: 'db={{ db_test_name }} name={{ db_user }} password={{ db_password }} priv=ALL'
      become_user: postgres

    - name: Minimise CKAN database user priveliges
      postgresql_user: 'name={{ db_user }} role_attr_flags=NOSUPERUSER,NOCREATEROLE,NOCREATEDB'
      become_user: postgres

    # Jetty
    - name: Configure Jetty settings
      lineinfile: dest=/etc/default/jetty regexp="^NO_START" line="NO_START=0"
    - lineinfile: dest=/etc/default/jetty regexp="^JETTY_HOST" line="JETTY_HOST=127.0.0.1"
    - lineinfile: dest=/etc/default/jetty regexp="^JETTY_PORT" line="JETTY_PORT=8983"
    - lineinfile: dest=/etc/default/jetty regexp="^JAVA_HOME" line="JAVA_HOME=/usr/lib/jvm/java-6-openjdk-amd64"

    - name: Remove old configuration settings
      file: path=/etc/solr/conf/schema.xml state=absent

    - name: Link new configuration settings
      file: src=/usr/lib/ckan/default/src/ckan/ckan/config/solr/schema.xml dest=/etc/solr/conf/schema.xml state=link

    - name: Restart Jetty service
      service: name=jetty state=restarted

    # Other CKAN steps
    - name: Setup database schema
      command: "{{ paster }} db init -c {{ ckan_config_file }} chdir={{ ckan_path }}/src/ckan"

    - name: Setup database test schema
      command: "{{ paster }} db init -c {{ ckan_config_test_file }} chdir={{ ckan_path }}/src/ckan"

    - name: Load fixtures in production
      command: "{{ paster }} create-test-data gov -c {{ ckan_config_file }} chdir={{ ckan_path }}/src/ckan"

    - name: Fix debug.css error
      file: src=/usr/lib/ckan/default/src/ckan/ckan/public/base/css/main.css
            dest=/usr/lib/ckan/default/src/ckan/ckan/public/base/css/main.debug.css
            state=link

    - name: Add custom bash_aliases
      template: src=files/.bash_aliases dest=~/.bash_aliases

    # Configure supervisord
    - name: Copy supervisor settings
      template: src=files/ckan.conf dest=/etc/supervisor/conf.d/ckan.conf

    - name: Load CKAN process settings
      supervisorctl: name=ckan state=present

    - name: Restart CKAN process
      supervisorctl: name=ckan state=restarted
